<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isUserLoggedIn()">
  
  <div class="collapse navbar-collapse container d-flex" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="navbar-brand d-flex justify-content-center">e-Index</a>
      </li>
      <li class="nav-item active" *ngIf="userService.isRoleAdmin()">
        <a class="nav-link" routerLink="/home" >{{'navbar.home' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="userService.isRoleAdmin()">
        <a class="nav-link" routerLink="/profesori">{{'navbar.professors' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="userService.isRoleAdmin()">
        <a class="nav-link" routerLink="/studenti">{{'navbar.students' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="userService.isRoleAdmin()">
        <a class="nav-link" routerLink="/kolegiji">{{'navbar.courses' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="userService.isRoleUser()">
        <a class="nav-link" routerLink="/upisani-kolegiji">{{'navbar.courses' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logout" (click)="logout()">
            <span>{{'navbar.logout' | translate}}</span>
        </a>
    </li>
    <!--
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-secondary" id="languageDropdown" ngbDropdownToggle>{{currentLanguage}}</button>
          <div ngbDropdownMenu aria-labelledby="languageDropdown">
            <button ngbDropdownItem
                    (click)="onLanguageChange('hr')">{{'language.croatian' | translate}}</button>
            <button ngbDropdownItem
                    (click)="onLanguageChange('en')">{{'language.english' | translate}}</button>
          </div>
        </div>
      </li>-->

      <li>
        <div class="btn-group ">
          <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentLanguage}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onLanguageChange('hr')">{{'language.croatian' | translate}}</a>
            <a class="dropdown-item" (click)="onLanguageChange('en')">{{'language.english' | translate}}</a>
          </div>
        </div>
      </li>

    </ul>
    
  </div>
</nav>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>